.footer {
  background-color: #1b1d1f;
  color: #ffffff;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  text-align: center;
}

.infoContainer {
  padding: 50px;
  background: url(/company-info-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.sectionTitle {
  font-size: 50px;
  font-family: Playfair Display, serif;
}

.infoItem {
  margin-top: 20px;
  text-align: center;
}

.infoTitle {
  font-size: 18px;
  font-weight: 600;
}

.infoText {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.75;
}

@media (max-width: 640px) {
  .items {
    flex-wrap: wrap;
    gap: 8px 0;
  }

  .item {
    width: 50%;
  }
}