.footer {
  background-color: #1b1d1f;
  color: #ffffff;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  text-align: center;
}

.infoContainer {
  padding: 50px;
  background: url(/company-info-img.webp) no-repeat;
  background-size: cover;
  background-position: center;
}

.sectionTitle {
  font-size: 50px;
  font-family: Playfair Display, serif;
}

.infoItem {
  margin-top: 20px;
  text-align: center;
}

.infoTitle {
  font-size: 18px;
  font-weight: 600;
}

.infoText {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.75;
}

.nav {
  font-size: 14px;
  padding: 8px 16px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

@media (max-width: 640px) {
  .items {
    grid-template-columns: 1fr;
  }

  .sectionTitle {
    font-size: 30px;
  }

  .infoItem {
    margin-top: 10px;
    text-align: center;
  }

  .infoTitle {
    font-size: 16px;
    font-weight: 600;
  }

  .infoText {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.75;
  }

  .footer {
    padding-bottom: 50px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }
}