.container {
  width: min(700px, 100%);
  margin-inline: auto;
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
  height: 100%;
}

.embla {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.embla__slides {
  display: flex;
}

.embla__slide {
  flex: 0 0 25%;
  min-width: 0;
  display: grid;
  place-content: center;
}
