.contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.image {
  width: 100%;
	background: url(/client-img.webp) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1583d1;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.playfairTitle {
  font-size: clamp(33.3px, 3.4722222222vw, 50px); 
}

.number {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.slides {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .contents {
    grid-template-columns: 1fr;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .number {
    font-size: 50px;
  }
  
}