.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.block .titleContainer {
  padding: 16px 24px;
}

.titleContainer {
  background-color: var(--color-bg-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playfairTitle {
  font-family: "Playfair Display", serif;
  color: var(--color-text-unpainted);
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
}

.subTitle {
  color: var(--color-text-unpainted);
  font-size: 18px;
}

.titleFooter {
  padding-top: 24px;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 24px;
}

.item {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid var(--color-border-light);
  align-items: center;
}

.item:last-child {
  border-bottom: none;
}

.link {
  display: block;
  width: 100%;
  padding: 8px 0;
}

.image {
  display: block;
  width: 100px;
  height: 50px;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.content {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.meta {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 12px;
}

@media (max-width: 640px) {
  .news {
    display: block;
  }
  
  .link {
    display: block;
    padding: 16px 0;
  }

  .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

  .meta {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .titleContainer {
    height: 260px;
  }
}