.button {
  display: block;
  color: var(--color-text-unpainted);
  text-align: center;
  padding: 5px;
  transition: 0.3s;
  font-size: 15px;
}

.normal {
  border: 1px solid #fff;
  transition: 0.3s;
  padding: 10px 20px;
  font-weight: normal;
}

.normal:hover {
  background: rgba(255, 255, 255, 0.15);
}

.arrow {
  display: block;
  color: var(--color-text-main);
  position: relative;
  transition: 0.3s;
  text-transform: uppercase;
}

.arrow::before {
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.3s;
  mask-image: url(/arrow.svg);
  background: var(--color-text-main);
  width: 44px;
  height: 4px;
  content: "";
}

.arrow:hover::before {
  bottom: -4px;
  left: 10px;
}

.arrow_white {
  display: block;
  color: var(--color-text-unpainted);
  position: relative;
  transition: 0.3s;
  text-transform: uppercase;
}

.arrow_white::before {
  position: absolute;
  bottom: -4px;
  left: 40px;
  transition: 0.3s;
  mask-image: url(/arrow.svg);
  background: #fff;
  height: 4px;
  width: 84px;
  content: "";
}

.arrow_white:hover::before {
  bottom: -4px;
  left: 52px;
}

.outline_black {
  color: var(--color-text-main);
  border: 1px solid #000;
  padding: 10px 20px;
  font-weight: normal;
}

.outline_black:hover {
  color: var(--color-text-unpainted);
  background: #000;
}

.filled_black {
  color: #fff;
  background: #000;
  border: 1px solid #000;
  padding: 10px 20px;
  font-weight: normal;
}

.filled_black:hover {
  color: #000;
  background: transparent;
}

@media (max-width: 640px) {
  .button {
    padding: 16px 24px;
    width: 100%;
  }

  .arrow {
    width: 100%;
    border: 1px solid #000;
  }

  .arrow::before {
    display: none;
  }

  .arrow_white {
    color: var(--color-text-main);
    width: 100%;
    border: 1px solid #000;
  }
  
  .arrow_white::before {
    display: none;
  }
}
