.container {
  display: grid;
  gap: var(--space-2);
  padding: var(--space-3);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
