.container {
  display: grid;
  gap: 15px;
  padding: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}