.profile {
  padding: 50px 36px;
	background: url(/profile-img.jpg) no-repeat;
	background-size: cover;
	background-position: center;
  color: #ffffff;
  line-height: 1.75;
	height: 100%;
}

.title {
  font-size: 50px;
  font-family: 'Playfair Display', serif;
	text-align: left;
}

.name {
  margin-top: 24px;
	font-size: 18px;
	font-weight: 600;
}

.text {
  margin-top: 18px;
	text-shadow: 1px 1px 1px #000;
	font-size: 14px;
}

@media (max-width: 768px) {
	.profile {
		width: 90%;
		padding: 50px 5%;
	}
	
	.name {
		font-size: 16px;
	}
	
	.text {
		font-size: 14px;
	}
}
