.profile {
	background: url(/profile-img.webp) no-repeat;
	background-size: cover;
	background-position: center;
  color: var(--color-text-unpainted);
  line-height: 1.75;
	height: 100%;
	padding: 50px 20px 0;
}

.title {
  font-size: 50px;
  font-family: 'Playfair Display', serif;
	text-align: left;
}

.name {
  margin-top: 24px;
	font-size: 18px;
	font-weight: 600;
}

.text {
  margin-top: 18px;
	text-shadow: 1px 1px 1px var(--color-text-main);
	font-size: 14px;
}

@media (max-width: 768px) {
	.profile {
		width: 100%;
		padding: initial;
	}

	.profileContent {
		width: 80%;
		padding: 50px 0;
		padding-left: 5%;

	}

	.title {
		font-size: 32px;
	}
	
	.name {
		font-size: 16px;
	}
	
	.text {
		font-size: 14px;
	}
}
