.contents {
  background: #101213;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: subgrid;
}

.div1 { grid-area: 1 / 1 / 2 / 5; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 2 / 4 / 3 / 5; }

.serviceTextContainer {
  background: url(/service-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  text-align: center;
  height: 260px;
}

.playfairTitle {
  padding: 52px 10px 0;
  font-family: "Playfair Display", serif;
  color: #ffffff;
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
}

.subTitle {
  margin-bottom: 52px;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.75;
}

.item {
  display: grid;
  gap: 16px;
  background: #ffffff;
  padding: 50px 36px 70px;
  border-left: 1px solid #ccc;
  grid-template-rows: subgrid;
  grid-row: span 5;
}

.title {
  text-align: center;
  border-bottom: 0.8px solid rgb(27, 29, 31);
}

.image {
  width: 100%;
  height: auto;
}

.itemHeading {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.itemText {
  color: rgb(119, 119, 119);
  font-size: 14px;
  height: 14em;
}

.btnBox {
  display: flex;
  justify-content: center;
  height: fit-content;
}

/* 3つ目のアイテムだけスタイル変更 */
.specialItem {
  background: #1583d1;
  color: #ffffff;
}

.specialItem .title {
  color: #ffffff;
  border-bottom: 0.8px solid #ffffff;
}

.specialItem .itemText {
  color: #ffffff;
}

@media screen and (max-width: 960px) {
  .serviceContents {
    grid-template-columns: 1fr;
  }

  .serviceItemArea {
    grid-template-columns: 1fr;
  }

  .serviceTextContainer {
    padding-left: 0;
  }
}
