.contents { 
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #1b1d1f;
  color: #fff;
  grid-template-rows: 500px;
}

.address {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px 100px;
}
  
.content1 { grid-area: 1 / 1 / 3 / 2;}
.content2 { grid-area: 1 / 2 / 2 / 4;}
.content3 { grid-area: 2 / 2 / 3 / 4;}

.inner {
  padding: 50px 36px;
  text-align: center;
}

.title {
  font-size: 50px;
  font-family: Playfair Display, serif;
}

.text {
  margin-top: 24px;
  font-size: 15px;
  line-height: 1.75;
}

.list {
  margin-top: 18px;
  font-size: 15px;
	line-height: 1.75;
}

.engage {
  background: url(https://en-gage.net/imageFile_new/company/widget_banner_C_pc_728×90.png) no-repeat;
  background-size: cover;
  display: flex;
  height: 100px;
}

@media (max-width: 768px) {
  .contents {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .address {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .content1 { grid-area: 1 / 1 / 2 / 2;}
  .content2 { grid-area: 2 / 1 / 3 / 2;}
  .content3 { grid-area: 3 / 1 / 4 / 2;}
  
  .inner {
    width: 90%;
    padding: 50px 5%;
    text-align: left;
    font-size: 16px;
    line-height: normal;
  }

  .engage {
    display: none;
  }
}