.address { 
  display: flex;
  gap: 0.5rem;
  background-color: #1b1d1f;
  width: 100%;
  margin-top: -1px;
  color: #fff;
}

.title {
  font-size: 50px;
  font-family: Playfair Display, serif;
  text-align: left;
}

.content {
  padding: 36px;
}

.text {
  margin-top: 36px;
  font-size: 15px;
  line-height: 1.75;
  text-align: center;
}

.list {
  margin-top: 18px;
  font-size: 15px;
	line-height: 1.75;
	text-align: center;
}

.iframe {
	width: 350px;
	height: 250px;
	margin: 36px auto 0;
}