.contents { 
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  background-color: #1b1d1f;
  color: #fff;
}

.inner {
  margin-top: 50px;
  text-align: center;
}

.title {
  font-size: 50px;
  font-family: Playfair Display, serif;
}

.text {
  margin-top: 24px;
  font-size: 15px;
  line-height: 1.75;
}

.list {
  margin-top: 18px;
  font-size: 15px;
	line-height: 1.75;
}

@media (max-width: 768px) {
  .contents {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .inner {
    width: 90%;
    padding: 50px 5%;
    text-align: left;
    font-size: 16px;
    line-height: normal;
  }

  .title {
		font-size: 32px;
	}
}