.wrapper {
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  background-color: #1b1d1f;
}

.link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  gap: 0.75em;
  align-items: center;
}

.label {
  font-weight: bold;
  color: #ffffff;
}

.date {
  font-size: 0.85rem;
  color: #888;
}

.title {
  font-weight: normal;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}
